@mixin dividerTitle($topMargin, $bottomMargin) {
  .dividerTitle__title {
    display: flex;
    align-items: baseline;
    gap: 16px;
    margin: $topMargin 16px $bottomMargin 16px;
    .line {
      flex-shrink: 0;
      width: 40px;
      height: 4px;
      align-self: flex-start;
      margin-top: 11px;
      background-color: $primary;
    }
    .text {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      align-items: center;
    }
  }
}
$desktop-gutter: 280px;
$mobile-gutter: 16px;
@mixin container {
  margin-right: $mobile-gutter;
  margin-left: $mobile-gutter;
  @media (min-width: $large-width) {
    margin-right: $desktop-gutter;
    margin-left: $desktop-gutter;
  }
}
@mixin container-override {
  margin-right: $mobile-gutter;
  margin-left: $mobile-gutter;
  @media (min-width: $large-width) {
    margin-right: unset;
    margin-left: unset;
  }
}
@mixin pad-container {
  @media (min-width: $large-width) {
    padding-right: $desktop-gutter;
    padding-left: $desktop-gutter;
  }
}
@mixin icon-hover {
  &:hover {
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
      brightness(200%) contrast(94%);
  }
}
