@import "utilities";
@import "colors";
html,
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;

.menu {
  background-image: url("../assets/images/stone-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 58px;
  .hamburger {
    margin: 8px;
  }
}
// Section 1
.section1 {
  display: flex;
  flex-direction: column;
  margin: auto 16px;
  text-align: left;
  // margin-bottom: 80px;

  .header__title {
    margin-top: 24px;
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 48px;
    line-height: 50px;

    .grayish {
      color: $primary;
    }
  }
  .header__summary {
    color: $dark-gray;
    margin-bottom: 32px;
  }
  .header__btn {
    display: flex;
    place-items: center;
    border: none;
    background: $primary;
    color: $white;
    width: 170px;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  .header__image {
    // override container margin
    margin: 87px -16px 135px -16px;
    .shape {
      display: flex;
      place-items: center;
      height: 228px;
      background-color: $primary;
      .image {
        // padding: 20px;
        margin: 0px auto;
        width: 328px;
        height: 338px;
      }
    }
  }
}

.section2 {
  @include dividerTitle(0, 32px);
  @include container;
  .team-num {
    background-color: $primary;
    color: $white;
    padding: 16px;
    .num {
      font-weight: 700;
      font-size: 150px;
      line-height: 120px;
      padding: 30px;
    }
    .text {
      margin-bottom: 24px;

      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .team-pic {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 50%;
    }
  }
}

.section3 {
  @include container;
  @include dividerTitle(80px, 32px);
  .comment-card {
    box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.1);
    padding: 20px;
    .profile {
      display: flex;
      align-items: center;
      gap: 20px;
      .identity {
        .name {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 4px;
        }
        .company {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $gray;
        }
      }
    }
    .text {
      color: $dark-gray;
      margin-top: 20px;
      margin-bottom: 20px;

      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 80px;
    .right {
      padding: 8px;
      width: 24px;
      height: 24px;
      padding: 8px;
      background-color: $primary;
    }
    .left {
      width: 24px;
      height: 24px;
      padding: 8px;
      background-color: $light-gray;
    }
  }
}

.section4 {
  @include dividerTitle(0, 40px);
  background-color: $background;
  padding-bottom: 80px;
  #extra-padding {
    padding-top: 40px;
  }
  .pic-wrapper {
    background-image: url("../assets/images/long-bg.jpg");
    padding-bottom: 110px;
    .part {
      @include container;
      margin-bottom: 40px;
      .part__header {
        display: flex;
        align-items: center;
        border-bottom: $light-gray 2px solid;
        padding-bottom: 16px;
        .header__title {
          color: $black;
          z-index: 1;

          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
        .num {
          color: $light-gray;
          margin-left: -12px;

          font-weight: 700;
          font-size: 52px;
          line-height: 28px;
        }
      }
      .part__body {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        .body__title {
          margin-top: 16px;
          display: flex;

          .text {
            padding-left: 20px;

            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
          }
        }
        .body__desc {
          padding-left: 30px;
          margin-left: 9px;
          border-left: $light-gray 2px solid;
          color: $dark-gray;

          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          .item {
            padding-top: 20px;
            &:last-child {
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
  .number__form {
    background-color: $white;
    @include container;
    .house {
      display: block;
      margin: auto;
      margin-top: -110px;
    }
    .padding {
      padding-left: 20px;
      padding-right: 20px;
      @include dividerTitle(60px, 20px);
      #less-margin {
        margin-right: 0;
        margin-left: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 20px;
        .tel {
          border: 1px solid $light-gray;
          padding: 10px 16px;
          color: $gray;
          font-family: "Montserrat";

          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
        .submit {
          display: flex;
          place-items: center;
          justify-content: center;
          border: none;
          padding-top: 8px;
          padding-bottom: 8px;
          color: $white;
          background-color: $primary;
          font-family: "Montserrat";

          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          img {
            margin-left: 16px;
          }
        }
      }
    }
  }
}

footer {
  background-color: $primary;
  color: $white;
  text-align: center;
  .bow {
    padding-top: 20px;
  }
  .footer__title {
    margin-top: -24px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.08em;
  }
  .footer__desc {
    @include container;
    color: $light-gray;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .icons {
    margin-bottom: 48px;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
  }
  .contact-info {
    margin-top: -24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .contact {
      .call-icon {
        margin-bottom: 8px;
      }
      .text {
        color: $light-gray;
        margin-bottom: 4px;

        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
      }
      .info {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  .rights {
    color: $light-gray;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
